.header{
    grid-area: header;
    background-color: rgb(70, 87, 121);
  }
  
  .header img{
    width: 125px;
  }

  .loginBlock {
    float: right;
    color: white
  }

  .loginBlock a {
    color: white;
    margin: 20px;
  }
