.dialogs {
    display: grid;
    grid-template-columns: 2fr 2fr 8fr;
}

.dialogsItems {
    padding: 10px;
    box-sizing: border-box;
}

.dialogsItems .active {
    color: gold;
}

.dialogsItems .dialog {
    
}

.messages {
    padding: 10px;
}

.message {
    
}
